.item {
    display: flex;
    justify-content: space-between;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: .5rem;

    padding: .5rem;
}

.item>button {
    border: none;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    color: red;
    padding: 0;
    background: transparent;
}